<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PoFlow</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
    <header>
        <h1>PoFlow</h1>
    </header>
    <div class="left-sidebar">Left Sidebar</div>
    <main>
        <div id="multi-step-form" class="hidden" v-scope @mounted="$el.classList.remove('hidden')">
            <form class="p-10" @submit.prevent="">
                <div v-if="!submitted">
                    <div v-for="(fieldKeys, step) in steps">
                        <div v-if="currentStep === step">
                            <div v-for="(field, index) in fieldKeys" v-scope="FieldComponent({
                          field: fields[field],
                          isInvalid:()=> !!invalids[field],
                          invalidMessage: () => invalids[field],
                          validate: ()=> validateField(field)
                        })"></div>
                        </div>
                    </div>
                    <div v-if="isFirstStep">
                        <div>Airfoil Type: {{doStuff}}</div>
                        <div v-scope="PlotComponent({currentStep})"></div>
                    </div>
                    <footer class="flex flex-row-reverse gap-2 justify-start mt-5">
                        <button v-if="isLastStep" class="btn btn-primary" @click="submit">
                Submit
              </button>
                        <button v-if="!isLastStep" class="btn btn-primary" @click="nextStep">
                Next
              </button>
                        <button v-if="!isFirstStep" class="btn" @click="previousStep">
                Previous
              </button>
                    </footer>
                </div>
                <div v-else>
                    <h3 class="p-5 text-lg">Hey!, thanks for your submission!</h3>
                </div>
            </form>
        </div>sss
    </main>

    <template id="step-indicator-component-template">
      <!--Step Indicators-->
      <div class="flex items-stretch gap-2">
        <div
          v-for="step in stepsCountWithSuccessPage"
          class="h-2 w-full rounded text-purple-500"
          style="border: 1px solid"
          :class="{'bg-purple-500 ': step - 1 <= currentStep || submitted}"
        ></div>
      </div>
    </template>

    <template id="plot-component-template">
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </template>

    <template id="field-component-template">
      <div class="relative">
        <div class="form-control">
          <label class="label"> {{field.label}} </label>
          <div v-if="field.isSelectList">
            <select
              class="input input-bordered m-2 w-full"
              :class="{'input-error' : isInvalid}"
              @input="validate"
              :id="field.id"
              type="text"
              v-model="field.value"
            >
              <option v-for="(key, value) in field.validValues">
                {{value}}
              </option>
            </select>
          </div>
          <div v-else>
            <input
              class="input input-bordered m-2 w-full"
              type="text"
              v-model="field.value"
              :class="{'input-error' : isInvalid}"
              @input="validate"
              :id="field.id"
            />
          </div>
        </div>
        <div
          v-if="isInvalid"
          class="text-error text-right text-sm pr-5 absolute right-0"
          style="bottom: -7px"
        >
          {{invalidMessage}}
        </div>
      </div>
    </template>
</body>

<script async type="text/javascript" src="src/wasm/geometry.js"></script>
<script src="src/app.js" type="module" defer></script>

</html>